*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins' sans-serif;
}

.container {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.493)), url(../pic/bus-public-transportation-budapest-hungary-600nw-2195962157.webp);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-box {
    background: #009688;
    text-align: center;
    padding: 40px 90px;
    color: #fff;
    position: relative;
    border-radius: 20px;
    /* background: transparent; */
}

.menu-icon {
    width: 25px;
    position: absolute;
    left: 40px;
    top: 40px;
}

.setting-icon {
    width: 25px;
    position: absolute;
    right: 40px;
    top: 40px;
}

.profile-pic {
    width: 170px;
    border-radius: 50%;
    background: #fff;
    padding: 6px;
    margin-top: 40px;
}

.profile-button {
    background: #ececec;
    color: #999;
    padding: 60px 0;
    margin-right: -90px;
    margin-left: -90px;
    margin-bottom: -40px;
    border-radius: 20px;
    /* background: transparent; */
}

.profile-button img {
    width: 15px;
    margin-top: 15px;
    cursor: pointer;
}

.profile-box button {
    background: #fff;
    color: #4adbff;
    border: none;
    outline: none;
    box-shadow: 0 5px 10px rgba(174, 54, 244, 0.5);
    padding: 15px 60px;
    cursor: pointer;
    border-radius: 30px;
    margin-bottom: -50px;
    font-weight: 600;
    font-size: 16px;
}

.profile-box button a {
    color: #4adbff;
    text-decoration: none;
}