/* styles.css */

/* Reset default margin and padding */
body, html {
    margin: 0;
    padding: 0;
}

/* Global styles */
body {
    font-family: Arial, sans-serif;
     background-image: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)),url(../pic/schienenersatzverkehr-sev-companeer-allianz-arena.jpg );
     background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
}
.encadr {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
    
    padding: 0px;
    border-radius: 0 0 10px 10px;
}
.eb h1 {
    
    font-size: 40px;
    margin-right: 5px;
    box-shadow: 10px 5px 5px rgba(255, 255, 255, 0.774);
    background-color: rgba(0, 0, 0, 0.644);
}
.encadr h2 {
    color:white;
    font-family: Stencil Std, fantasy;
    padding: 8px;
    font-size: 30px;
    margin-left: 5px;
    box-shadow: 10px 5px 5px #9cd8ff;
    background-color: black;

}
 .eb {
    display: flex;
    align-items: left;
    justify-content: left;
    margin-right: 5px;
    
    padding: 0px;
    border-radius: 0 0 10px 10px;
 }
 .eb a {
    color: #fff;
    text-decoration: none;
 }

/* Header styles */
.header {
    /* background-color: #33333300; */
    color: #9cd8ff;
    text-align: center;
    padding: 20px;
    font-size: 6em;

}

/* Navigation styles */
.navbar {
    background-color: #333;
    padding: 10px;
}

.navbar a {
    color: #fff;
    text-decoration: none;
    margin-right: 15px;
}

/* Button styles */
.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.button:hover {
    background-color: #0056b3;
}

/* Form styles */
.container {
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;

}
form {
    display: flex;
    flex-direction: column;
}

input {
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 3px;
}

.label {
    display: block;
    margin-bottom: 5px;
}

.input {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

/* Footer styles */
.footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 3px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
