* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Arial, sans-serif;
}


.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 2rem;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.header {
	padding: 2rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 10px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    background:url(./schienenersatzverkehr-sev-companeer-allianz-arena.jpg );
    width: 115%;
    height: 100%;
	margin-bottom: 3rem;
	margin-top: 3%;
}
button {
    background-color: rgba(255, 255, 255, 0.596);
    color: black;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    text-align: center;
    font-size: 16px;
    margin: 4px 5px;
    transition: 0.5s;
    margin-top: 5rem;
    
}
.btn-container {
display: flex;
justify-content: center;
padding: 40px;
}

button:hover {
background-color:rgba(0, 217, 255, 0.37)
}
a{
color: black;
text-decoration: none;
}

.easybus {
	display: flex;
	align-items: right;
	justify-content: space-between;
	width: 100%;
	margin-bottom: 4rem;
    position: fixed;
    background-color: rgba(245, 245, 245, 0.459);
}

.logo {
	width: 70px;
	height: auto;
}
.encadr {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
    
    padding: 0px;
    border-radius: 0 0 10px 10px;
    margin-bottom: 3rem;
}
.encadr h2 {
    color:white;
    font-family: Stencil Std, fantasy;
    padding: 8px;
    font-size: 30px;
    margin-left: 5px;
    box-shadow: 10px 5px 5px #9cd8ff;
    background-color: black;

}
.easybus-text {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-left: 2rem;
	margin-top: 1rem;
	font-weight: 900;
}

.easybus-text h1 {
	font-size: 2rem;
	margin-bottom: 2rem;
}

.easybus-text p {
	font-size: 0.9rem;
	color: #2e2d2d;
	display: flex;
	flex-wrap: wrap;
    text-transform: center;
    
}

.easybus-text span {
	margin: 0 0.5rem 0 0.5rem;
	font-size: 1rem;
	color: #555;
}

.description p {
	font-size: 1.7rem;
	color: rgba(255, 255, 255, 0.747);
	margin-bottom: 4rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family:  Snell Roundhand, cursive;
	width: 50%;
	margin-top: 5rem;
}


.how-it-works {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 0rem;
	text-align: center;
}


.how-it-works ul {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
	margin-bottom: 2rem;
    
}

.how-it-works li {
	width: 30%;
}

.step-number {
	display: inline-block;
	background-color: #9cd8ff;
	color: #fff;
	font-size: 1.5rem;
	padding: 0.3rem 2rem;
	border-radius: 10px;
	margin-bottom: 1rem;
    
}

.step-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: rgba(83, 200, 216, 0.158);
	
}

.step-content h3 {
	font-size: 1.2rem;
	margin-bottom: 1rem;
	color: #18175e;
}

.step-content p {
	font-size: 1rem;
	color: rgba(255, 255, 255, 0.774);
	text-align: center;
	margin-bottom: 2rem;
}

.cookies {
	background-color: #333;
	padding: 0.5rem;
	display: flex;
	justify-content: center;
	width: 100%;
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 1000;
}

.cookies p {
	margin-right: 1rem;
}

.cookies button {
	padding: 0.5rem 1rem;
	background-color: #fa6542;
	color: #fff;
	border-radius: 10px;
	border: none;
	cursor: pointer;
}

.cookies button:hover {
	background-color: #eb5539;
}

@media only screen and (max-width: 768px){
	.header {
		padding: 1rem;
	}

	.easybus {
		margin-bottom: 1rem;
	}

	.easybus-text p {
		font-size: 0.8rem;
	}

	.how-it-works h2 {
		font-size: 1.2rem;
	}

	.how-it-works li {
		width: 100%;
		margin-bottom: 1rem;
	}

	.step-content p {
		font-size: 0.8rem;
	}

	.step-number {
		font-size: 1.2rem;
	}
}

@media only screen and (max-width: 480px) {
	.easybus-text h1 {
		font-size: 1.5rem;
	}
}