body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Arial, sans-serif;
	background: linear-gradient(to right, rgba(0, 0, 255, 0.527), pink);
	/* background: white; */
}

.container2 {
	max-width: 1200px;
	margin: 0 auto;
	padding: 2rem;
	display: flex;
	flex-direction: column;
	gap: 2rem;
	align-items: center;
	margin-bottom: 5rem;
}

/* Styles for modal */
.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: #d3a85a; 
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #3ac2eb4f;
    margin: 20% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
	margin-top: 5rem;
	margin-bottom: 5rem;
}

.close {
    color: #d3a85a;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: rgb(199, 148, 90);
    text-decoration: none;
    cursor: pointer;
}

.header-text h1 {
	font-size: 2.5rem;
	margin-bottom: 1rem;
}

.header-text p {
	font-size: 1.5rem;
line-height: 1.5;
	margin-bottom: 1rem;
}

.button {
	background-color: #ac4f3f;
	color: #ecf0f1;	
	padding: 1rem 2rem;
	border-radius: 10px;
	border: none;
	text-transform: uppercase;
	cursor: pointer;
}

.button:hover {
	background-color: #507a96b0;
}



.main-section {
	display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 1rem;
    align-items: center;
    padding: 2rem 1rem;
}

.reklam {
	background-color: #378ec92d;
    color: #2b2929;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    padding: 2rem;
    text-align: center;
    width: 100%; 
}

.reklam h2 {
	font-size: 1.3rem;
	margin-bottom: 1rem;
	color: #a76d3eb4;
}

.reklam p {
	font-size: 1.2rem;
	
	font-family: Georgia, serif;
}

.middle-section {
	background-color: #ecf0f1;
	color: #34495e;
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 10px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
	padding: 2rem;
	gap: 1rem;
	text-align: center;
}

.middle-section p {
	font-size: 1.5rem;
	line-height: 1.5;
	margin-bottom: 1rem;
}

.accept-cookie-button {
	background-color: #2ecc71;
	color: #ecf0f1;
	padding: 1rem 2rem;
	border-radius: 10px;
	border: none;
	text-transform: uppercase;
	cursor: pointer;
}

.accept-cookie-button:hover {
	background-color: #27ae60;
}

.footer {
	background-color: #34495e;
	color: #ecf0f1;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 0.5rem;
	border-radius: 4px;
	box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
}

.footer p {
	font-size: 0.5rem;
	margin-bottom: 0;
}

.footer img {
	width: 50px;
	height: auto;
}

.feedback {
	border: 2px solid #ccc;
	padding: 20px;
	margin-bottom: 17rem;
	background-color: rgba(83, 141, 216, 0.781);
}
.feedback-name {
	font-weight: bold;
	color: #ffc49c;
}
.feedback-text {
	margin-top: 5px;
	color: rgb(255, 255, 255);
}

.clm {
	columns: 3;
}
/* */
.cadre_1 {
	background-color: rgba(255, 255, 255, 0.281);
	border: 6px outset rgba(55, 57, 129, 0.582);
	margin-bottom: 2rem;
	margin-top: 0rem;
	width: 350px;
	margin-inline: 10% 0%;
	writing-mode: horizontal-tb;
}

.cadre_2 {
	background-color: rgba(255, 255, 255, 0.281);
	border: 6px outset rgba(55, 57, 129, 0.582);
	margin-bottom: 2rem;
	margin-top: 6rem;
	width: 350px;
	/* margin-inline: 50% 40%; */
	writing-mode: horizontal-tb;
	
}

.cadre_3 {
	background-color: rgba(255, 255, 255, 0.281);
	border: 6px outset rgba(55, 57, 129, 0.582);
	margin-bottom: 5rem;
	margin-top: 2rem;
	width: 350px;
	margin-right: 10%;
	position: relative;
	/* margin-inline: 20% 70%; */
	writing-mode: horizontal-tb;
}

.conversation_2 {
	max-width: 600px;
	margin: 0 auto;
	padding: 20px;
	font-family: Arial, sans-serif;
	font-size: 16px;
	line-height: 1.5;
	background-color: rgba(255, 255, 255, 0.37);
	border-radius: 5px;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.1);	
  }
  .conversation_1 {
	max-width: 600px;
	margin: 0 auto;
	padding: 20px;
	font-family: Arial, sans-serif;
	font-size: 16px;
	line-height: 1.5;
	background-color: rgba(83, 200, 216, 0.158);
	border-radius: 5px;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
	
  }
  .conversation_3 {
	max-width: 600px;
	margin: 0 auto;
	padding: 20px;
	font-family: Arial, sans-serif;
	font-size: 16px;
	line-height: 1.5;
	background-color: #a577da67;
	border-radius: 5px;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
  }

  .message {
	margin-bottom: 3rem;
	font-family: Georgia, serif;
  }
  
  .message:last-child {
	margin-bottom: 0;
  }
  
  .message strong {
	display: block;
	font-size: 16px;
	margin-bottom: 2px;
	color: #333;
	font-family: Georgia, serif;
  }
  
  .message p {
	color: #666;
	white-space: pre-wrap;
	font-family: Georgia, serif;
  }

@media only screen and (max-width: 768px) {
	.header-text h1 {
		font-size: 2rem;
	}
	
	.header-text p {
		font-size: 1.3rem;
	}
	
	.button {
		font-size: 1.2rem;
		padding: 0.5rem 1.5rem;
	}
	
	.main-section {
		flex-wrap: wrap;
	}
	
	.reklam {
		flex: 1 1 45%;
	}
	
	.middle-section {
		flex: 1 1 100%;
	}
}

@media only screen and (max-width: 480px) {
	.header-text h1 {
		font-size: 1.5rem;
	}
	
	.header-text p {
		font-size: 1.1rem;
	}
	
	.button {
		font-size: 1.1rem;
		padding: 0.5rem 1.5rem;
	}
	
	.reklam {
		flex: 1 1 100%;
	}
	
	.middle-section {
		flex: 1 1 100%;
	}
}

@media (max-width: 768px) {
    .main-section {
        flex-direction: column; /* Stack items vertically on smaller screens */
        padding: 2rem 0.5rem; /* Adjust padding for smaller screens */
    }

    .reklam {
        width: calc(100% - 2rem); /* Adjust width to accommodate padding */
    }
}